<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yg.omp.mapper.DeductWaterMapper" >
  <resultMap id="BaseResultMap" type="com.yg.omp.entity.DeductWater" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="application_id" property="applicationId" jdbcType="VARCHAR" />
    <result column="global_id" property="globalId" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="deduct_status" property="deductStatus" jdbcType="INTEGER" />
    <result column="payment_type" property="paymentType" jdbcType="VARCHAR" />
    <result column="deduct_time" property="deductTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pay_channel" property="payChannel" jdbcType="VARCHAR" />
    <result column="request_id" property="requestId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, application_id, global_id, order_num, deduct_status, payment_type, deduct_time, 
    create_time, pay_channel, request_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yg.omp.model.DeductWaterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from deduct_water
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from deduct_water
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from deduct_water
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yg.omp.model.DeductWaterExample" >
    delete from deduct_water
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yg.omp.entity.DeductWater" >
    insert into deduct_water (id, application_id, global_id, 
      order_num, deduct_status, payment_type, 
      deduct_time, create_time, pay_channel, 
      request_id)
    values (#{id,jdbcType=INTEGER}, #{applicationId,jdbcType=VARCHAR}, #{globalId,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=VARCHAR}, #{deductStatus,jdbcType=INTEGER}, #{paymentType,jdbcType=VARCHAR}, 
      #{deductTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{payChannel,jdbcType=VARCHAR}, 
      #{requestId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yg.omp.entity.DeductWater" >
    insert into deduct_water
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applicationId != null" >
        application_id,
      </if>
      <if test="globalId != null" >
        global_id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="deductStatus != null" >
        deduct_status,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="deductTime != null" >
        deduct_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="payChannel != null" >
        pay_channel,
      </if>
      <if test="requestId != null" >
        request_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applicationId != null" >
        #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="globalId != null" >
        #{globalId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="deductStatus != null" >
        #{deductStatus,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="deductTime != null" >
        #{deductTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payChannel != null" >
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        #{requestId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yg.omp.model.DeductWaterExample" resultType="java.lang.Integer" >
    select count(*) from deduct_water
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="java.util.Map" >
    update deduct_water
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.applicationId != null" >
        application_id = #{record.applicationId,jdbcType=VARCHAR},
      </if>
      <if test="record.globalId != null" >
        global_id = #{record.globalId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        order_num = #{record.orderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.deductStatus != null" >
        deduct_status = #{record.deductStatus,jdbcType=INTEGER},
      </if>
      <if test="record.paymentType != null" >
        payment_type = #{record.paymentType,jdbcType=VARCHAR},
      </if>
      <if test="record.deductTime != null" >
        deduct_time = #{record.deductTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payChannel != null" >
        pay_channel = #{record.payChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.requestId != null" >
        request_id = #{record.requestId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="java.util.Map" >
    update deduct_water
    set id = #{record.id,jdbcType=INTEGER},
      application_id = #{record.applicationId,jdbcType=VARCHAR},
      global_id = #{record.globalId,jdbcType=VARCHAR},
      order_num = #{record.orderNum,jdbcType=VARCHAR},
      deduct_status = #{record.deductStatus,jdbcType=INTEGER},
      payment_type = #{record.paymentType,jdbcType=VARCHAR},
      deduct_time = #{record.deductTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      pay_channel = #{record.payChannel,jdbcType=VARCHAR},
      request_id = #{record.requestId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yg.omp.entity.DeductWater" >
    update deduct_water
    <set >
      <if test="applicationId != null" >
        application_id = #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="globalId != null" >
        global_id = #{globalId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="deductStatus != null" >
        deduct_status = #{deductStatus,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="deductTime != null" >
        deduct_time = #{deductTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payChannel != null" >
        pay_channel = #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null" >
        request_id = #{requestId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yg.omp.entity.DeductWater" >
    update deduct_water
    set application_id = #{applicationId,jdbcType=VARCHAR},
      global_id = #{globalId,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=VARCHAR},
      deduct_status = #{deductStatus,jdbcType=INTEGER},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      deduct_time = #{deductTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pay_channel = #{payChannel,jdbcType=VARCHAR},
      request_id = #{requestId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>