<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yg.omp.mapper.MonthlyRepaymentMapper">
  <resultMap id="BaseResultMap" type="com.yg.omp.entity.MonthlyRepayment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="re_id" jdbcType="VARCHAR" property="reId" />
    <result column="global_id" jdbcType="VARCHAR" property="globalId" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="id_type" jdbcType="VARCHAR" property="idType" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_card" jdbcType="VARCHAR" property="userCard" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_detail" jdbcType="VARCHAR" property="bankDetailed" />
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
    <result column="pay_channel" jdbcType="VARCHAR" property="payChannel" />
    <result column="trans_type" jdbcType="INTEGER" property="transType" />
    <result column="pay_amounts" jdbcType="DECIMAL" property="payAmounts" />
    <result column="repay_date" jdbcType="DATE" property="repayDate" />
    <result column="deduct_status" jdbcType="INTEGER" property="deductStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="deduct_time" jdbcType="TIMESTAMP" property="deductTime" />
    <result column="application_id" jdbcType="VARCHAR" property="applicationId" />
    <result column="loan_deadline" jdbcType="VARCHAR" property="loanDeadline" />
    <result column="transaction_Status_Msg" jdbcType="VARCHAR" property="transactionStatusMsg" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="store_city" jdbcType="VARCHAR" property="storeCity" />
    <result column="store_area" jdbcType="VARCHAR" property="storeArea" />
    <result column="request_id" jdbcType="VARCHAR" property="requestId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, re_id, global_id, order_num, id_type, user_name, user_card, user_mobile, bank_code, 
    bank_name, bank_detail, bank_card, pay_channel, trans_type, pay_amounts, repay_date, 
    deduct_status, create_time, deduct_time, application_id, loan_deadline, transaction_Status_Msg, 
    store_name, store_city, store_area, request_id
  </sql>
  <select id="selectByExample" parameterType="com.yg.omp.model.MonthlyRepaymentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from monthly_repayment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from monthly_repayment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByGlobalId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from monthly_repayment
    where global_id = #{globalId,jdbcType=VARCHAR}
  </select>
  <select id="selectByReId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from monthly_repayment
    where re_id = #{reId,jdbcType=VARCHAR}
  </select>
  <select id="selectByReIds" resultMap="BaseResultMap" parameterType="list">
    select 
    <include refid="Base_Column_List" />
    from monthly_repayment
    where re_id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
    	#{item}
    </foreach>
  </select>
  <select id="selectExportByStatus" resultMap="BaseResultMap" parameterType="com.yg.omp.entity.MonthlyRepayment" >
    select 
    <include refid="Base_Column_List" />
    from monthly_repayment
    where 
    repay_date = #{repayDate,jdbcType=DATE}
    <if test="deductStatus != null" >
    and deduct_status = #{deductStatus,jdbcType=INTEGER}
    </if>
    <if test="payChannel != null" >
    and pay_channel = #{payChannel,jdbcType=VARCHAR}
    </if>
    <if test="orderNum != null" >
    and order_num = #{orderNum,jdbcType=VARCHAR}
    </if>
    order by id
  </select>
  <select id="selectTotalMoney" resultType="decimal" parameterType="com.yg.omp.entity.MonthlyRepayment" >
    select 
     sum(pay_amounts)
    from monthly_repayment
    where 1 = 1
    <if test="payChannel != null" >
    and pay_channel = #{payChannel,jdbcType=INTEGER}
    </if>
    <if test="deductStatus != null" >
    and deduct_status = #{deductStatus,jdbcType=INTEGER}
    </if>
    <if test="payChannel != null" >
    and pay_channel = #{payChannel,jdbcType=VARCHAR}
    </if>
    <if test="orderNum != null" >
    and order_num = #{orderNum,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from monthly_repayment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yg.omp.model.MonthlyRepaymentExample">
    delete from monthly_repayment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yg.omp.entity.MonthlyRepayment">
    insert into monthly_repayment (id, re_id, global_id, 
      order_num, id_type, user_name, 
      user_card, user_mobile, bank_code, 
      bank_name, bank_detail, bank_card, 
      pay_channel, trans_type, pay_amounts, 
      repay_date, deduct_status, create_time, 
      deduct_time, application_id, loan_deadline, 
      transaction_Status_Msg, store_name, store_city, 
      store_area, request_id)
    values (#{id,jdbcType=INTEGER}, #{reId,jdbcType=VARCHAR}, #{globalId,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=VARCHAR}, #{idType,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userCard,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{bankDetailed,jdbcType=VARCHAR}, #{bankCard,jdbcType=VARCHAR}, 
      #{payChannel,jdbcType=VARCHAR}, #{transType,jdbcType=INTEGER}, #{payAmounts,jdbcType=DECIMAL}, 
      #{repayDate,jdbcType=DATE}, #{deductStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{deductTime,jdbcType=TIMESTAMP}, #{applicationId,jdbcType=VARCHAR}, #{loanDeadline,jdbcType=VARCHAR}, 
      #{transactionStatusMsg,jdbcType=VARCHAR}, #{storeName,jdbcType=VARCHAR}, #{storeCity,jdbcType=VARCHAR}, 
      #{storeArea,jdbcType=VARCHAR}, #{requestId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yg.omp.entity.MonthlyRepayment">
    insert into monthly_repayment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="reId != null">
        re_id,
      </if>
      <if test="globalId != null">
        global_id,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userCard != null">
        user_card,
      </if>
      <if test="userMobile != null">
        user_mobile,
      </if>
      <if test="bankCode != null">
        bank_code,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankDetailed != null">
        bank_detail,
      </if>
      <if test="bankCard != null">
        bank_card,
      </if>
      <if test="payChannel != null">
        pay_channel,
      </if>
      <if test="transType != null">
        trans_type,
      </if>
      <if test="payAmounts != null">
        pay_amounts,
      </if>
      <if test="repayDate != null">
        repay_date,
      </if>
      <if test="deductStatus != null">
        deduct_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deductTime != null">
        deduct_time,
      </if>
      <if test="applicationId != null">
        application_id,
      </if>
      <if test="loanDeadline != null">
        loan_deadline,
      </if>
      <if test="transactionStatusMsg != null">
        transaction_Status_Msg,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="storeCity != null">
        store_city,
      </if>
      <if test="storeArea != null">
        store_area,
      </if>
      <if test="requestId != null">
        request_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="reId != null">
        #{reId,jdbcType=VARCHAR},
      </if>
      <if test="globalId != null">
        #{globalId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCard != null">
        #{userCard,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null">
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankDetailed != null">
        #{bankDetailed,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null">
        #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null">
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        #{transType,jdbcType=INTEGER},
      </if>
      <if test="payAmounts != null">
        #{payAmounts,jdbcType=DECIMAL},
      </if>
      <if test="repayDate != null">
        #{repayDate,jdbcType=DATE},
      </if>
      <if test="deductStatus != null">
        #{deductStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deductTime != null">
        #{deductTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationId != null">
        #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="loanDeadline != null">
        #{loanDeadline,jdbcType=VARCHAR},
      </if>
      <if test="transactionStatusMsg != null">
        #{transactionStatusMsg,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeCity != null">
        #{storeCity,jdbcType=VARCHAR},
      </if>
      <if test="storeArea != null">
        #{storeArea,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null">
        #{requestId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yg.omp.model.MonthlyRepaymentExample" resultType="java.lang.Integer">
    select count(*) from monthly_repayment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="java.util.Map">
    update monthly_repayment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.reId != null">
        re_id = #{record.reId,jdbcType=VARCHAR},
      </if>
      <if test="record.globalId != null">
        global_id = #{record.globalId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null">
        order_num = #{record.orderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.idType != null">
        id_type = #{record.idType,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userCard != null">
        user_card = #{record.userCard,jdbcType=VARCHAR},
      </if>
      <if test="record.userMobile != null">
        user_mobile = #{record.userMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCode != null">
        bank_code = #{record.bankCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null">
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankDetailed != null">
        bank_detail = #{record.bankDetailed,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCard != null">
        bank_card = #{record.bankCard,jdbcType=VARCHAR},
      </if>
      <if test="record.payChannel != null">
        pay_channel = #{record.payChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.transType != null">
        trans_type = #{record.transType,jdbcType=INTEGER},
      </if>
      <if test="record.payAmounts != null">
        pay_amounts = #{record.payAmounts,jdbcType=DECIMAL},
      </if>
      <if test="record.repayDate != null">
        repay_date = #{record.repayDate,jdbcType=DATE},
      </if>
      <if test="record.deductStatus != null">
        deduct_status = #{record.deductStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deductTime != null">
        deduct_time = #{record.deductTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applicationId != null">
        application_id = #{record.applicationId,jdbcType=VARCHAR},
      </if>
      <if test="record.loanDeadline != null">
        loan_deadline = #{record.loanDeadline,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionStatusMsg != null">
        transaction_Status_Msg = #{record.transactionStatusMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.storeName != null">
        store_name = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeCity != null">
        store_city = #{record.storeCity,jdbcType=VARCHAR},
      </if>
      <if test="record.storeArea != null">
        store_area = #{record.storeArea,jdbcType=VARCHAR},
      </if>
      <if test="record.requestId != null">
        request_id = #{record.requestId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="java.util.Map">
    update monthly_repayment
    set id = #{record.id,jdbcType=INTEGER},
      re_id = #{record.reId,jdbcType=VARCHAR},
      global_id = #{record.globalId,jdbcType=VARCHAR},
      order_num = #{record.orderNum,jdbcType=VARCHAR},
      id_type = #{record.idType,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_card = #{record.userCard,jdbcType=VARCHAR},
      user_mobile = #{record.userMobile,jdbcType=VARCHAR},
      bank_code = #{record.bankCode,jdbcType=VARCHAR},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      bank_detail = #{record.bankDetailed,jdbcType=VARCHAR},
      bank_card = #{record.bankCard,jdbcType=VARCHAR},
      pay_channel = #{record.payChannel,jdbcType=VARCHAR},
      trans_type = #{record.transType,jdbcType=INTEGER},
      pay_amounts = #{record.payAmounts,jdbcType=DECIMAL},
      repay_date = #{record.repayDate,jdbcType=DATE},
      deduct_status = #{record.deductStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      deduct_time = #{record.deductTime,jdbcType=TIMESTAMP},
      application_id = #{record.applicationId,jdbcType=VARCHAR},
      loan_deadline = #{record.loanDeadline,jdbcType=VARCHAR},
      transaction_Status_Msg = #{record.transactionStatusMsg,jdbcType=VARCHAR},
      store_name = #{record.storeName,jdbcType=VARCHAR},
      store_city = #{record.storeCity,jdbcType=VARCHAR},
      store_area = #{record.storeArea,jdbcType=VARCHAR},
      request_id = #{record.requestId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yg.omp.entity.MonthlyRepayment">
    update monthly_repayment
    <set>
      <if test="reId != null">
        re_id = #{reId,jdbcType=VARCHAR},
      </if>
      <if test="globalId != null">
        global_id = #{globalId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCard != null">
        user_card = #{userCard,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        user_mobile = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null">
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankDetailed != null">
        bank_detail = #{bankDetailed,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null">
        bank_card = #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null">
        pay_channel = #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="transType != null">
        trans_type = #{transType,jdbcType=INTEGER},
      </if>
      <if test="payAmounts != null">
        pay_amounts = #{payAmounts,jdbcType=DECIMAL},
      </if>
      <if test="repayDate != null">
        repay_date = #{repayDate,jdbcType=DATE},
      </if>
      <if test="deductStatus != null">
        deduct_status = #{deductStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deductTime != null">
        deduct_time = #{deductTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationId != null">
        application_id = #{applicationId,jdbcType=VARCHAR},
      </if>
      <if test="loanDeadline != null">
        loan_deadline = #{loanDeadline,jdbcType=VARCHAR},
      </if>
      <if test="transactionStatusMsg != null">
        transaction_Status_Msg = #{transactionStatusMsg,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeCity != null">
        store_city = #{storeCity,jdbcType=VARCHAR},
      </if>
      <if test="storeArea != null">
        store_area = #{storeArea,jdbcType=VARCHAR},
      </if>
      <if test="requestId != null">
        request_id = #{requestId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yg.omp.entity.MonthlyRepayment">
    update monthly_repayment
    set re_id = #{reId,jdbcType=VARCHAR},
      global_id = #{globalId,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=VARCHAR},
      id_type = #{idType,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_card = #{userCard,jdbcType=VARCHAR},
      user_mobile = #{userMobile,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_detail = #{bankDetailed,jdbcType=VARCHAR},
      bank_card = #{bankCard,jdbcType=VARCHAR},
      pay_channel = #{payChannel,jdbcType=VARCHAR},
      trans_type = #{transType,jdbcType=INTEGER},
      pay_amounts = #{payAmounts,jdbcType=DECIMAL},
      repay_date = #{repayDate,jdbcType=DATE},
      deduct_status = #{deductStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      deduct_time = #{deductTime,jdbcType=TIMESTAMP},
      application_id = #{applicationId,jdbcType=VARCHAR},
      loan_deadline = #{loanDeadline,jdbcType=VARCHAR},
      transaction_Status_Msg = #{transactionStatusMsg,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      store_city = #{storeCity,jdbcType=VARCHAR},
      store_area = #{storeArea,jdbcType=VARCHAR},
      request_id = #{requestId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateStatusByPrimaryKey" parameterType="com.yg.omp.entity.MonthlyRepayment" >
    update monthly_repayment
    set pay_channel = #{payChannel,jdbcType=VARCHAR},
      deduct_status = #{deductStatus,jdbcType=INTEGER},
      deduct_time = #{deductTime,jdbcType=TIMESTAMP},
      request_id = #{requestId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>