<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yg.omp.mapper.OmLogMapper" >
  <resultMap id="BaseResultMap" type="com.yg.omp.entity.OmLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="interface_desc" property="interfaceDesc" jdbcType="VARCHAR" />
    <result column="oper_status" property="operStatus" jdbcType="INTEGER" />
    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yg.omp.entity.OmLog" extends="BaseResultMap" >
    <result column="data" property="data" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, interface_desc, oper_status, oper_time
  </sql>
  <sql id="Blob_Column_List" >
    data
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yg.omp.model.OmLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from om_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yg.omp.model.OmLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from om_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from om_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from om_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yg.omp.model.OmLogExample" >
    delete from om_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yg.omp.entity.OmLog" >
    insert into om_log (id, interface_desc, oper_status, 
      oper_time, data)
    values (#{id,jdbcType=INTEGER}, #{interfaceDesc,jdbcType=VARCHAR}, #{operStatus,jdbcType=INTEGER}, 
      #{operTime,jdbcType=TIMESTAMP}, #{data,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.yg.omp.entity.OmLog" >
    insert into om_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="interfaceDesc != null" >
        interface_desc,
      </if>
      <if test="operStatus != null" >
        oper_status,
      </if>
      <if test="operTime != null" >
        oper_time,
      </if>
      <if test="data != null" >
        data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="interfaceDesc != null" >
        #{interfaceDesc,jdbcType=VARCHAR},
      </if>
      <if test="operStatus != null" >
        #{operStatus,jdbcType=INTEGER},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="data != null" >
        #{data,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yg.omp.model.OmLogExample" resultType="java.lang.Integer" >
    select count(*) from om_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="java.util.Map" >
    update om_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.interfaceDesc != null" >
        interface_desc = #{record.interfaceDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatus != null" >
        oper_status = #{record.operStatus,jdbcType=INTEGER},
      </if>
      <if test="record.operTime != null" >
        oper_time = #{record.operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.data != null" >
        data = #{record.data,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="java.util.Map" >
    update om_log
    set id = #{record.id,jdbcType=INTEGER},
      interface_desc = #{record.interfaceDesc,jdbcType=VARCHAR},
      oper_status = #{record.operStatus,jdbcType=INTEGER},
      oper_time = #{record.operTime,jdbcType=TIMESTAMP},
      data = #{record.data,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="java.util.Map" >
    update om_log
    set id = #{record.id,jdbcType=INTEGER},
      interface_desc = #{record.interfaceDesc,jdbcType=VARCHAR},
      oper_status = #{record.operStatus,jdbcType=INTEGER},
      oper_time = #{record.operTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yg.omp.entity.OmLog" >
    update om_log
    <set >
      <if test="interfaceDesc != null" >
        interface_desc = #{interfaceDesc,jdbcType=VARCHAR},
      </if>
      <if test="operStatus != null" >
        oper_status = #{operStatus,jdbcType=INTEGER},
      </if>
      <if test="operTime != null" >
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="data != null" >
        data = #{data,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yg.omp.entity.OmLog" >
    update om_log
    set interface_desc = #{interfaceDesc,jdbcType=VARCHAR},
      oper_status = #{operStatus,jdbcType=INTEGER},
      oper_time = #{operTime,jdbcType=TIMESTAMP},
      data = #{data,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yg.omp.entity.OmLog" >
    update om_log
    set interface_desc = #{interfaceDesc,jdbcType=VARCHAR},
      oper_status = #{operStatus,jdbcType=INTEGER},
      oper_time = #{operTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>